.brands-block-news .item {
	padding-bottom: 40px;
}
.brands-block-news .item {
	margin-bottom: 0;
}
.brands-block-news .item {
	margin-bottom: 16px;
	transition: box-shadow 0.3s ease;
	display: block;
	box-shadow: none;
}
.brands-block-news .row {
	margin: 0px;
}
.brands-block-news .row > div {
	padding: 0px;
}
.brands-block-news .item .image {
	padding: 40px 40px 0;
	line-height: 107px;
}

.brands-block-news .item .image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 120px;
}
.brands-block-news .item .image {
	text-align: center;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	max-height: 202px;
}
.brands-block-news .item .image.w-picture img {
	width: auto;
}
.brands-block-news .item .image img {
	opacity: 1;
	max-height: 80px;
	display: block;
	zoom: 1;
}
div.brands-block-news .item .title {
	padding: 13px 40px 0;
	text-align: center;
}
.brands-block-news .item .title {
	text-align: left;
	margin: 0;
	font-weight: normal;
}
.brands-block-news .item .title {
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.font_upper {
	font-size: .667em;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: .8px;
}
.muted {
	color: #999;
}
.brands-block-news .title.muted a {
	color: #333;
}
.brands-block-news {
	width: 100%;
	max-width: 210px;
	height: 210px;
}
.brands-block-news .row > div.col-md-12 {
	padding-top: 15px;
}
.brands-block-news .title a {
	color: #333;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: unset;
}
div.brands-block-row{
	margin: 0;
}
@media (max-width: 1024px){
	.brands-block-news{
		max-width: 220px;
		height: 220px;
	}
}

@media (max-width: 500px){
	.brands-block-news{
		max-width: 185px;
		height: 185px;
	}
}
@media (max-width: 380px){
	.brands-block-news{
		max-width: 49%;
		height: 185px;
	}
}